@import "./variable.scss";

.announcement-view {
  > * {
    flex: 1;
  }

  .announcement-heading {
    span:nth-child(1) {
      font-weight: 800;
    }

    span:nth-child(2) {
    }

    .announcement-card-container {
      padding-top: 40px;
    }
  }
}
