@import "../../styles/variable.scss";

.action-card-view {
  border-radius: 10px;
  box-shadow: 10px 10px 30px $primary-color;
  transition: background-color 0.1s ease-in-out, padding-inline 0.1s ease-in-out;

  strong {
    font-weight: 800;
  }

  .action-card-heading {
    display: flex;
    justify-content: space-between;

    h2 {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

// @media screen and (max-width: 850px) {
//   .action-card-view {
//     display: inline-flex;
//     flex-direction: column;
//   }
// }
