@import "../../styles/variable.scss";

.navbar {
  height: 100px;
  width: 100vw;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;

  .navbar-container {
    height: 70px;
    color: white;
    margin-inline: $primary-margin;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo {
      height: 100px;
      width: 100px;

      img {
        height: 70px;
        width: 260px;
      }
    }

    .mobile-bottom-nav {
      display: none;
    }

    .menu-items {
      display: flex;
      height: inherit;
      align-items: center;
      font-family: "Cario", sans-serif;
      font-weight: 500;
      gap: 24px;
      font-size: 14px;
      cursor: pointer;

      .item {
        height: 80%;
        color: white;
        text-decoration: none;

        display: flex;
        align-items: center;

        transition: color 0.1s ease-in;
        &:hover {
          color: #0a6dc2;
          border-bottom: 3px solid #0a6dc2;
        }
      }

      .book-button {
        background-color: red;
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .navbar {
    height: 10vh;

    .navbar-container {
      margin-inline: 20px;
      .logo {
        display: flex;
        align-items: center;
        height: 100%;

        img {
          width: 100px;
          height: 40px;
        }
      }

      .menu-items {
        .item {
          display: none;
        }
      }

      .mobile-bottom-nav {
        background-color: $card-color;
        width: 100vw;
        height: 70px;
        position: fixed;
        display: flex;
        margin: 0;
        left: 0;
        bottom: 0;

        .item {
          width: 100%;
          text-decoration: none;
          color: white;
          font-size: 0.6rem;
        }
      }
    }
  }
}
