@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #02173a;
}

html {
  scroll-behavior: smooth;
}

/* Hide on mobile */
@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}

/* Hide on desktop */
@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}
